name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    uses: eeekcct/goreleaser-golang-workflow/.github/workflows/release.yml@7f781568de1807fd39e66f9fa8ffe78181df400c # v0.1.0
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
